*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body{
    margin: 0% auto;
    padding: 0%;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
    margin: 0%;
    z-index: 2;
    

}

header div.logo{
    margin: 0px 30px 15px 30px;
    display: inline-block;
    width: max-content;
    
}

header div.logo h2{
    font-family: 'Oleo Script';
    font-weight: lighter;
    font-size: 5em;
    margin: 0px;
    padding: 0%;
    cursor: pointer;
}

header div.logo p{
    font-family: 'Oleo Script';
    font-size: 1.5em;
    margin: 0px;
    padding: 0%;
    display: flex;
    justify-content: flex-end;
    line-height: 0%;
    cursor: pointer;
    
    
}

header nav{
    width: 100%;
}

header nav ul{
    margin: 0%;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}



header nav ul li{
    list-style: none;
    position: relative;
    font-size: 2em;
    width: 4em;
    height: max-content;
    cursor: pointer;
    text-align: center;
    line-height: 1.7em;
    transition: all 0.3s ease;
}

header nav ul li::before{
    content: " ";
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 0%;
    height: 0.2em;
    background-color: rgb(7, 94, 36);
    transition: all 0.3s ease;
}

header nav ul li:hover{
    color: rgb(7, 94, 36);
}

header nav ul li:hover::before{
    width: 100%;
}


section.home{
    display: flex;
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    margin: 5vh 0%;
    padding: 0%;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    width: 80%;
    height: 70vh;
    position: relative;
    left: 10%;
    border-radius: 5px;
    
}

section h2{
    padding: 0 10px;
    z-index: 1;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    position: absolute;
    border-radius: 5px;
}

section.shop{
    margin: 50px 0;
    width: 80%;
    height: max-content;
    position: relative;
    left: 10%;
    padding: 10px;
    text-align: center;
}

section.shop h2{
    font-size: 2em;
    margin-bottom: 20px;
}

section.shop p{
    font-size: 1em;
    font-weight: bold;
}

section.shop div.arts{
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: max-content;
    gap: 30px;
    width: 100%;
    height: 100vh;
    
}

.shop .arts div{
    box-shadow: 1px 3px 5px #000;
    
}



.shop div img{
    width: 100%;
    height: 100%;
    
}

div.homebtn{
    position: fixed;
    width: 5%;
    height: 10%;
    left: 3%;
    bottom: 5%;
    border-radius: 5px;
    cursor: pointer;
    
    
}

div.homebtn img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

div.cartbtn{
    position: fixed;
    width: 5%;
    height: 10%;
    left: 3%;
    bottom: 20%;
    border-radius: 5px;
    cursor: pointer;
}

div.cartbtn img{
    width: 100%;
    height: auto;
    object-fit: cover;
}